@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.784);
}

#container {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #000000;
}

#header {
    text-align: center;
    padding-top: 615px;
    padding-bottom: 50px;
    background-color: #24252A;
    height: 940px;
}

#header img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
}

#header img:hover{
    transition: 0.70s;
    transform: rotate(360deg);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
    letter-spacing: -1px;
    font-family: 'Montserrat', sans-serif;
}
#content {
    background-color: #0088a9;
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: white;
}

#content #intro {
padding-top: 20px;
color: white;
}
#content #overig {
padding-top: 20px;
color: white;
}
#content #kennis {
padding-top: 20px;
color: white;
}
#content #kennis ul {
    padding-left: 15px;
    color: white;
}
#experimental {
    background-color: #808782;
    height: 900px;
    padding: 50px;
}
#experimental h2 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#footer {
    /* background-color: #101419; */
    height: 120px;
    color: #fff;
    /* text-align: center; */
    /* padding-top: 20px; */
    background: rgb(36,37,42);
    background: radial-gradient(circle, rgba(36,37,42,1) 37%, rgba(128,135,130,1) 100%);
}
#footer ul {
    display: block;
    padding-top: 10px;
}
#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}
#img1{
    width: 25px;
    height: 25px;
}
#img2{
    width: 33px;
    height: 25px;
}
/* scaling */
section { 
    position: relative;
    width: 140px;
    height: 250px;
    background-color: #efeff3;
    -webkit-animation: window forwards 4s infinite;
            animation: window forwards 4s infinite;
    overflow: hidden;
  }
  section > * {
    position: absolute;
  }
  
  header {
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; 
    border-top: 7px solid #3c3e99; 
    background-color: #4c54a4;
    -webkit-animation: header forwards 4s infinite;
            animation: header forwards 4s infinite;
  }
  
  article {
    top: 30px;
    left: 50%;
    width: 140px;
    height: 220px;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
    background-color: #fff;
    transform: translateX(-50%);
    -webkit-animation: article forwards 4s infinite;
            animation: article forwards 4s infinite;
  }
  article::after {
    position: absolute;
    top: 100%;
    margin-top: 15px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
    content: "";
  }
  
  button {
    position: absolute;
    right: 10px;
    top: 220px;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 100%;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4), 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    background-color: #e20269;
    -webkit-animation: button forwards 4s infinite;
            animation: button forwards 4s infinite;
  }
  
  @keyframes animatie1 {
    0%, 15%, 90% {
      width: 140px;
      height: 250px;
    }
    30%, 45% {
      width: 400px;
      height: 300px;
    }
    60%, 75% {
      width: 560px;
      height: 370px;
    }
  }
  
  @keyframes animatie1 {
    0%, 15%, 90% {
      width: 100%;
      height: 30px;
      border-top-width: 7px;
    }
    30%, 45% {
      height: 90px;
      border-top-width: 12px;
    }
    60%, 75% {
      height: 105px;
      border-top-width: 14px;
    }
  }

  
  @keyframes animatie1 {
    0%, 15%, 90% {
      top: #4c54a4;
      width: 140px;
      height: 220px;
    }
    30%, 45% {
      top: 35px;
      width: 270px;
      height: 220px;
    }
    60%, 75% {
      top: 35px;
      width: 290px;
      height: 225px;
    }
  }

  @keyframes animatie1 {
    0%, 15%, 90% {
      right: 10px;
      top: 220px;
      width: 20px;
      height: 20px;
    }
    30%, 45% {
      right: 20px;
      top: 77px;
      width: 26px;
      height: 26px;
    }
    60%, 75% {
      right: 25px;
      top: 92px;
      width: 26px;
      height: 26px;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex; 
    justify-content: center;
    align-items: center;
    /* background-color: #d55084; */
  }
  /* Social media icons */
  .social-menu ul {
    position: absolute;
    top: 1660px;
    left: 50%;
    padding:0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .social-menu ul li{
    list-style: none;
    margin: 0 15px;
  }
  .social-menu ul li .fa {
    font-size: 30px;
    line-height: 45px;
    transition: .4s;
    color: #000;
  }
  .social-menu ul li .fa:hover {
    color: rgb(255, 255, 255);
  }
  .social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .4s;
    box-shadow:0 5px 4px rgba(0,0,0,.5) ;
  }
  .social-menu ul li a:hover{
    transform: translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #1877f2;
  }
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #c32aa3;
  }
  .social-menu ul li:nth-child(3) a:hover {
    background-color: #ff0000;
  }
  /* css styling */
  .copy {
    position: sticky;
    left: 605px;
    bottom: -245px;
  }
  .kaarten{
    display: inline-block;
  }
  .kaart1 {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    box-shadow:0 5px 4px rgba(0,0,0,.5) ;
    position: relative;
    top: 140px;
    transition: .3s;
    right: 30px;
    
  }
  .kaart1:hover {
    transform: translate(0, -10px);
  }
  .kaart1 h3 {
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px;
  }
  .kaart1 p {
    text-align: center;
    padding: 20px 10px 0px 10px;
    font-size: 15px;
  }
  .button1{
    width: 105px;
    height: 35px;
    background-color: #0088a9;
    border-radius: 15px;
    right: 100px;
    top:350px;
    cursor: pointer;   
  }
.button1:hover{
    background-color: #026882;
    transform: translate(0, -2px);
}
  /* kaart2 */
  .kaart2 {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    box-shadow:0 5px 4px rgba(0,0,0,.5) ;
    position: relative;
    top: 140px;
    transition: .3s;
    left: -18px;
    
  }
  .kaart2:hover {
    transform: translate(0, -10px);
  }
  .kaart2 h3 {
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 25px;
  }
  .kaart2 p {
    text-align: center;
    padding: 20px 10px 0px 10px;
    font-size: 15px;
  }
  .button2{
    width: 105px;
    height: 35px;
    background-color: #0088a9;
    border-radius: 15px;
    right: 100px;
    top:350px;
    cursor: pointer;   
  }
.button2:hover{
    background-color: #026882;
    transform: translate(0, -2px);
}
  /* kaart3 */
.kaart3 {
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
  box-shadow:0 5px 4px rgba(0,0,0,.5) ;
  position: relative;
  top: -310px;
  transition: .3s;
  left: 600px;
  
}
.kaart3:hover {
  transform: translate(0, -10px);
}
.kaart3 h3 {
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-size: 25px;
}
.kaart3 p {
  text-align: center;
  padding: 20px 10px 0px 10px;
  font-size: 15px;
}
p{
    padding-left:10px;
}
.button3{
    width: 105px;
    height: 35px;
    background-color: #0088a9;
    border-radius: 15px;
    right: 100px;
    top:350px;
    cursor: pointer;   
  }
.button3:hover{
    background-color: #026882;
    transform: translate(0, -2px);
}
.button4{
    width: 105px;
    height: 35px;
    background-color: #0088a9;
    border-radius: 15px;
    position: relative;
    top: 40px;
    left:80px;
    cursor: pointer;
}
.button4:hover{
    background-color: #026882;
    transform: translate(0, -2px);
}
#myDiv{
    color:#ffffff;
    position: relative;
    top: -170px;
    left: 380px;
    text-shadow: 2px 2px #000000;
}